<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>315419893105-5f19k89op619fo2abb58q52opmoi1hff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315419893105-5f19k89op619fo2abb58q52opmoi1hff</string>
	<key>API_KEY</key>
	<string>AIzaSyDx0GuenlK3PmTSjqH1YX7r2dxqtQ2oWKA</string>
	<key>GCM_SENDER_ID</key>
	<string>315419893105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmbverve.loginRegFB</string>
	<key>PROJECT_ID</key>
	<string>loginreg-1337</string>
	<key>STORAGE_BUCKET</key>
	<string>loginreg-1337.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315419893105:ios:1e86454b2891f076</string>
	<key>DATABASE_URL</key>
	<string>https://loginreg-1337.firebaseio.com</string>
</dict>
</plist>